.buttons{
    display: flex;
    column-gap: 15px;
    margin: -1px;
    margin-right: 5px;
}

h3{
    display: flex;
}

.checkbox{
    display: flex;
    margin-right: 73px;
    width: 23px;
}

.config{
    display: flex;
    margin-right: 30px;
}

.tables{
}